.login {
  width: 0px auto;
  margin: 50px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input,
button {
  width: 200px;
  margin: 6px;
}
