<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div>
      <!--test-->
      <a href="https://www.pinterest.ca" class="navbar-brand">pInterest</a>
    </div>
    <ul class="navbar-nav">
      <li>
        <a
          *ngIf="hardcodedAuthenticationService.isUserLogggedIn()"
          routerLink="/welcome/terri"
          class="nav-link"
          >Home</a
        >
      </li>
      <li>
        <a
          *ngIf="hardcodedAuthenticationService.isUserLogggedIn()"
          routerLink="/todos"
          class="nav-link"
          >Todos</a
        >
      </li>
    </ul>
    <ul class="navbar-nav navbar-collapse justify-content-end">
      <li>
        <a
          *ngIf="!hardcodedAuthenticationService.isUserLogggedIn()"
          routerLink="/login"
          class="nav-link"
          >Login</a
        >
      </li>
      <li>
        <a
          *ngIf="hardcodedAuthenticationService.isUserLogggedIn()"
          routerLink="/logout"
          class="nav-link"
          >Logout</a
        >
      </li>
    </ul>
  </nav>
</header>
